html{
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  text-align: center;
  margin: 0;
}

#hero {
  margin: 64px auto 240px;
}

#hero img{
  margin-bottom: 32px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;    
}

h1 span {
  color: #EE24FF;
  font-size: 32px;
  font-weight: 700;
}