html{
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  text-align: center;
  margin: 0;
}

#hero {
  margin: 64px auto 240px;
}

#hero img{
  margin-bottom: 32px;
}