html{
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  text-align: center;
  margin: 0;
}

#hero {
  margin: 64px auto 240px;
}

#hero img{
  margin-bottom: 32px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
  margin-bottom: 16px; 
}

h1 span {
  color: #EE24FF;
  font-size: 32px;
  font-weight: 700;
}

p{
  color: #828282;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  
}

p strong{
  color: #3F3D56;
  font-weight: 700;
}
