html{
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  text-align: center;
  margin: 0;
}

#hero {
  width: 1024px;
  margin: 64px auto 64px;
}

#hero img{
  width: 350px;  
  height: 238px;
  margin-bottom: 32px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: normal; 
  margin-bottom: 16px; 
}

h1 span {
  color: #EE24FF;
  font-size: 32px;
  font-weight: 700;
}

p{
  color: #828282;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

}

p strong{
  color: #3F3D56;
  font-weight: 700;
}

#line{
  width: 391px;
  height: 0px;
  margin: 0 auto 16px;
  border: 1px solid #ECEFF2;
}
#footer{
  margin-bottom: 48.3px;
}

#footer a{
  text-decoration: none;
  color: #3F3D56;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.682%;
}

a + a{
  margin-left: 42px;
}


